{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asimovian&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            {% block navbar %}
            {% endblock %}
        </nav>
        <header>
            {% block header %}
                <h1>Meu Site De Livros.</h1>
            {% endblock %}
        </header>
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>